body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

body {
  /* Background image */
  background-color: #014083;
  /* background-image: url('../img/background.jpg'); */
  /* background-color: #014083; */
  /* background-repeat: no-repeat; */
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  /* background-size: cover; */
}

.container {
  /* background-color: blueviolet; */
  display: inline-block;
  width: 1200px;
  /* Make content in the middle */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container > .left-column {
  float: left;
  width: 40%;
  height: 200px;
  padding: 40px;
  position: relative;
  background-color: #014083;
  /* margin-top: 5%; */
  /* left column image */
  background-image: url('../img/background.jpg');
  /* background-repeat: no-repeat; */ /* not need anymore*/
  background-size: cover;
  background-position: bottom;
}

.container > .right-column {
  float: left;
  width: 60%;
  padding: 60px;
  background-color: white;
  position: relative;
}

h1.main-title {
  color: rgb(255, 230, 230);
  font-size: 40px;
  font-weight: normal;
  width: 100%;
  /* position: absolute; */
  /* top: 15%; */
}

.bottom-links {
  color: rgb(255, 230, 230);
  position: absolute;
  bottom: 20px;
}

.bottom-links > .link {
  color: rgb(255, 230, 230);
}

.bottom-links > .link:hover {
  color: white;

  position: absolute;
  bottom: 10px;
  width: 100%;
}

.close-form {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
  /* transform: rotate(45deg); */ /*rotate html element 45deg */
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.right-column span {
}

.right-column a {
}
